body {
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  width: 100vw;
}

.content {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: crimson;
  transform: rotate(-45deg);
  animation: heartbeat 1s infinite;
  box-shadow: 0 0 30px rgba(220, 20, 60, 0.6);
}

/* Círculos superiores */
.content::before,
.content::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: crimson;
  border-radius: 50%;
}

.content::before {
  top: -50px;
  left: 0;
}

.content::after {
  left: 50px;
  top: 0;
}

/* Animación de latido */
@keyframes heartbeat {
  0%, 100% {
    transform: rotate(-45deg) scale(1);
  }
  50% {
    transform: rotate(-45deg) scale(1.2);
  }
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  width: 80px;
  pointer-events: none;
  z-index: 100;
}

.burble {
  background-color: purple;
  padding: 10px;
  border-radius: 10px;
  font-family: sans-serif;
  color: white;
 animation: flotar 2s ease-in-out infinite;
}
@keyframes flotar {
  0%   { transform: translateY(0); opacity: 1; }
  50%  { transform: translateY(-30px); opacity: 0.8; }
  100% { transform: translateY(0); opacity: 0; }
}